doctype html
html(lang="ru")

    include ../components/head/head.pug
    include ../components/app/app.pug

    head
        +head()
    body
        |%=symbols=%

        +app() 
        //- Main scripts. You can replace it, but I recommend you to leave it here
        script(src='static/js/main%=hash=%%=min=%.js')