$zone_0_back: #808080;
$zone_1_back: #5b8cfe;
$zone_2_back: #ffc400;
$zone_3_back: #ff9d00;
$zone_4_back: #ff4a39;
$zone_5_back: #2d2d2d;
$zone_6_back: #262626;

$zone_1_fore: #153e6a;
$zone_2_fore: #262626;
$zone_3_fore: #262626;
$zone_4_fore: #262626;
$zone_5_fore: #ff4a39;
$zone_6_fore: #ff4a39;

$side_menu_back_color: #f2f7fd;
$side_menu_text_color: #434459;
$text_menu_back_color: #f2f7fd;
$text_menu_text_color: #434459;
$side_menu_dot_color: white;

$sensor_screen_back_color: #dee6f7e3;
$sensor_screen_button_color: #1f232e;
$sensor_screen_button_active_text_color: #f2f7fd;

$toggle-bg-color: #252e31;
$toggle-bg-color-checked: #62d100;
$toggle-nub-color: #0090ff;
$font-color: #48485d;

$color_cerulean_approx: $zone_1_back;
$color_amber_approx: $zone_2_back;
$color_orange_peel_approx: $zone_3_back;
$color_sunset_orange_approx: $zone_4_back;
$color_shark_approx: $zone_5_back;

.map-canvas {
    position: relative;
    top: 0px;
    left: 0px;
    height: 100vh;
    width: 100vw;
    z-index: 0;
    background-color: #3556a1;
    float: left;
}

.leaflet-container {
    background-color: #3556a1;
}

.map-legend {
    font-family: 'Kroppen';
    position: absolute;
    width: 30px;
    height: 300px;
    left: 30px;
    bottom: 30%;
    z-index: 10;
    border-radius: 40px;
    background: $color_cerulean_approx;
    background: linear-gradient(
        to top,
        $color_cerulean_approx 0,
        $color_cerulean_approx 7%,
        $color_amber_approx 12%,
        $color_amber_approx 25%,
        $color_orange_peel_approx 40%,
        $color_sunset_orange_approx 60%,
        $color_shark_approx 80%
    );
    filter: progid:dximagetransform.microsoft.gradient(startcolorstr='$color_cerulean_approx', endcolorstr='$zone_5_back', gradienttype=1 );

    .zone {
        text-align: center;
        color: white;
    }

    .z-160 {
        padding-top: 15px;
        color: $color_sunset_orange_approx;
    }

    .z-55 {
        padding-top: 90px;
    }

    .z-35 {
        padding-top: 50px;
    }

    .z-12 {
        padding-top: 25px;
    }

    .z-0 {
        padding-top: 15px;
    }
}

.marker-inactive {
    display: none !important;
    color: gray;
    background-color: gray;
    font-family: 'Kroppen';
    font-size: 20px;
    text-align: center;
    width: 35px;
    white-space: nowrap;
}

.map-label-claim {
    color: darkgrey;
    background-color: #fff0f5;
    font-family: 'Kroppen';
    font-size: 20px;
    text-align: center;
    width: 38px;
    white-space: nowrap;
    display: none !important;
}

[class^='marker-zone'] {
    font-family: 'Kroppen';
    font-size: 14px;
    text-align: center;
    width: 35px;
    white-space: nowrap;
}

.marker-zone1 {
    color: $zone_1_fore;
    background-color: $zone_1_back;
}

.marker-zone2 {
    color: $zone_2_fore;
    background-color: $zone_2_back;
}

.marker-zone3 {
    color: $zone_3_fore;
    background-color: $zone_3_back;
}

.marker-zone4 {
    color: $zone_4_fore;
    background-color: $zone_4_back;
}

.marker-zone5 {
    color: $zone_5_fore;
    background-color: $zone_5_back;
}

.marker-zone6 {
    color: $zone_6_fore;
    background-color: $zone_6_back;
}

#floating-panel {
    position: absolute;
    top: 10px;
    left: 25%;
    z-index: 5;
    background-color: #fff;
    padding: 5px;
    border: 1px solid #999;
    text-align: center;
    font-family: 'Roboto', 'sans-serif';
    line-height: 30px;
    padding-left: 10px;
}

.my-div-icon {
    min-width: 30px;
    min-height: 30px;
    border-radius: 30px;
    .sensor-link-remote {
      display: none;
    }
}

.my-div-icon-cluster {
    height: 100%;
    width: 100%;
    /*padding-top: 7px;*/
    border-radius: 60px;
    .my-div-span {
        top: 17px;
    }
}

.my-div-span {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    text-align: center;
    display: block;
    margin-top: 14px;
    /* font-size: 15px;
  font-weight: bold;*/
    font-family: 'Kroppen';
    top: -7px;
    position: relative;
    color: #000;
    text-shadow: 0px 0px 0px #828282;
}

.leaflet-cluster-anim .leaflet-marker-icon,
.leaflet-cluster-anim .leaflet-marker-shadow {
    transition: transform 0.3s ease-out, opacity 0.3s ease-in;
}

.leaflet-cluster-spider-leg {
    transition: stroke-dashoffset 0.3s ease-out, stroke-opacity 0.3s ease-in;
}

.zone0 {
    color: $zone_1_fore;
    background-color: $zone_0_back;
}

.zone1 {
    color: $zone_1_fore;
    background-color: $zone_1_back;
}

.zone2 {
    color: $zone_2_fore;
    background-color: $zone_2_back;
}

.zone3 {
    color: $zone_3_fore;
    background-color: $zone_3_back;
}

.zone4 {
    color: $zone_4_fore;
    background-color: $zone_4_back;
}

.zone5 {
    color: $zone_5_fore;
    background-color: $zone_5_back;
}

.zone6 {
    color: $zone_6_fore;
    background-color: $zone_6_back;
}
