@import "../../assets/scss/mixins";

.app {
  z-index: 5000;
  height: 100%;
  width: 100%;
  overflow: hidden;
  // position: relative;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #4545d9;

  &__map {
  }

  &__interface {
    z-index: 2000;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    box-sizing: border-box;

    @include media((
            padding: (
                    all: 72px 0px 0px 77px,
                    mob: 25px 0px 0px 31px
            )
    ));


    & > *:not(.mid) {
      pointer-events: auto;
      flex-shrink: 0;
    }


    .mid {
      align-self: flex-end;
      padding-top: 0;

      & > * {
        pointer-events: auto;
        flex-shrink: 0;
      }

      .buttons {
        display: flex;
        flex-direction: column;
        padding-bottom: 0;
        padding-right: 35px;
        @media screen and (max-width: 1023px) {
          padding-right: 16px;
        }

        & > li {
          position: relative;
          margin: 15px 0;
          @media screen and (max-width: 1023px) {
            margin: 11px 0;
          }

          & > button {
            background-color: #f3f6fd;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            transition: background-color 0.3s ease;
            position: relative;
            width: 42px;
            height: 42px;
            @media screen and (max-width: 1023px) {
              width: 34px;
              height: 34px;
            }

            svg * {
              transition: fill 0.3s ease;
            }

            svg {
              pointer-events: none;
              @media screen and (max-width: 1023px) {
                transform: scale(0.9);
              }
            }

            &.is-focused {
              background-color: #4a72fc;

              svg * {
                fill: #fff;
              }
            }
          }

          .tooltip {
            position: absolute;
            right: 100%;
            opacity: 0;
            pointer-events: none;
            transition: opacity 0.3s;
            top: 0;
            padding-right: 20px;
            @media screen and (max-width: 1023px) {
              top: -7px;
              padding-right: 31px;
            }

            &.is-show {
              opacity: 1;
              pointer-events: auto;
            }

            ul {
              background: #ecf1f6;
              padding-top: 4px;
              padding-bottom: 3px;
              position: relative;
              min-width: 291px;
              @media screen and (max-width: 1023px) {
                min-width: 249px;
              }

              &:after {
                content: '';
                display: block;
                position: absolute;
                top: 12px;
                left: 100%;
                width: 0;
                height: 0;
                border: 11px solid transparent;
                border-left-color: #ecf1f6;
                transform: scaleY(0.7);
              }

              li {
                a,
                p {
                  line-height: 19px;
                  display: block;
                  padding-bottom: 9px;
                  padding-right: 20px;
                  box-sizing: border-box;
                  width: 100%;
                  transition: color 0.3s ease;
                  font-size: 16px;
                  cursor: pointer;
                  text-align: left;
                  color: #7586a4;
                  padding-top: 8px;
                  padding-left: 20px;
                  @media screen and (max-width: 1023px) {
                    margin-bottom: 1px;
                    padding-top: 6px;
                    padding-left: 18px;
                  }

                  &:not(.is-selected):hover {
                    color: #1f1f30;
                  }

                  &.is-selected {
                    color: #4a72fc;
                  }

                  &[disable] {
                    color: #96adff;
                    pointer-events: none;
                  }
                }
              }
            }
          }
        }
      }
    }


    .logo {
      pointer-events: none;
      align-self: flex-end;
      margin: 0 0 53px 77px;
      @media screen and (max-width: 1023px) {
        width: 78px;
        order: 1;
        margin: 0 calc(50% - 39px) 25px;
      }
    }

    .play-button {
      width: 37px;
      height: 37px;
      border: white 2px solid;
      border-radius: 30px;
      cursor: pointer;
      transition: border 0.1s ease-in-out;
      align-self: flex-end;
      position: relative;
      // z-index: 3;
      margin: 0 0 45px 45px;
      @media screen and (max-width: 1023px) {
        margin: 0 0 36px 34px;
      }

      &:hover {
        border: #62d100 2px solid;

        &:before,
        &:after {
          background-color: #62d100;
        }
      }

      &:before,
      &:after {
        content: '';
        display: inline-block;
        position: absolute;
        top: 12px;
        right: 34px;
        width: 2px;
        height: 12px;
        border-radius: 3px;
        background-color: white;
        transform-origin: center;
        transition: transform 0.4s ease-in-out, background 0.1s ease-in-out;
      }

      &:before {
        transform: translateX(16px) translateY(-2px) rotate(0deg);
      }

      &:after {
        transform: translateX(21px) translateY(-2px) rotate(0deg);
      }

      &.is-stop {
        &:before {
          transform: translateX(20px) translateY(-4px) rotate(-55deg);
        }

        &:after {
          transform: translateX(20px) translateY(2px) rotate(-125deg);
        }
      }
    }

    .history-slider {
      align-self: flex-end;
      flex-grow: 1;
      max-width: 928px;
      margin-left: 24px;
      margin-right: 50px;

      border-radius: 0;
      border: 0;
      box-shadow: none;
      height: 3px;
      background-color: #fff;
      position: relative;
      z-index: 0;
      margin-bottom: 63px;
      @media screen and (max-width: 1023px) {
        margin-bottom: 55px;
      }

      .noUi-base {
        cursor: pointer;

        &:before {
          content: '';
          display: block;
          position: absolute;
          left: 0;
          top: 50%;
          transform: translateY(-50%);
          height: 40px;
          width: 100%;
        }
      }

      .noUi-handle.noUi-handle-lower {
        box-shadow: none;
        border: none;
        top: -9px;
        right: -10px;
        outline: none;
        width: 20px;
        height: 20px;
        background-color: transparent;
        cursor: pointer;

        &:before {
          display: none;
        }

        &:after {
          background: none;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          width: 70px;
          height: 70px;
        }

        &:hover {
        }

        .noUi-touch-area {
          border-radius: 50%;
          background-color: #6cd320;
          transition: transform 0.2s ease;
        }

        &:hover .noUi-touch-area {
          transform: scale(1.2);
        }

        .noUi-tooltip {
          font-size: 11px;
          background: none;
          border: none;
          box-shadow: none;
          color: #fff;
          backface-visibility: hidden;
        }
      }

      .noUi-marker.noUi-marker-horizontal.noUi-marker-large {
        display: none;
      }

      .noUi-value.noUi-value-horizontal.noUi-value-large {
        color: #fff;
        font-size: 12px;
        @media screen and (max-width: 1023px) {
          font-size: 8px;
        }
      }
    }

    .markets {
      align-items: center;
      flex-direction: column;
      padding-right: 37px;
      margin-left: auto;
      margin-bottom: 38px;
      display: flex;
      @media screen and (max-width: 1023px) {
        font-size: 8px;
        display: none;
      }

      li {
        margin-top: 3px;

        a {
          display: block;
          transition: transform 0.2s;
          user-select: none;

          &:hover {
            transform: scale(1.1);
          }

          img {
            display: block;
            width: 37px;
            pointer-events: none;
          }
        }
      }
    }
  }

  &__city-select {
    margin-top: 10px;
  }

  &__temperature {
    @include media((
            margin: (
                    all: 23px 0 0 25px,
                    mob: 16px 0 0 18px
            )
    ))
  }
}
